.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container h1 {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container h1 {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container h1 {
    font-size: 4rem;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 340px;
  }
  .container h1 {
    font-size: 3rem;
  }
}
