.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;


    @media (max-width:1200px) {
        max-width: 1140px;
    }

    @media (max-width:992px) {
        max-width: 960px;
    }

    @media (max-width:768px) {
        max-width: 720px;

    }

    @media (max-width:576px) {
        max-width: 540px;
    }

    @media (max-width:375px) {
        max-width: 340px;

    }
}